<div class="feature-card">
  <div>Icon</div>
  <div>
    <h4>${input.data.title}</h4>
    <p>${input.data.subtitle}</p>
  </div>
</div>
style {
  .feature-card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
