<div style="flex: 1;">
  <label>
    ${input.label}
    <br>
    <input
      type="text"
      name=input.name
      on-input("handleChange")
      style="width: 100%;"
    >
  </label>
</div>
class {
  handleChange(event) {
    this.emit("input-change", {
      name: event.target.name,
      value: event.target.value,
    });
  }
}
