<header>
  <img src="../routes/_index/logo.svg" alt="Marko" class="logo">
  <div>
    <countdown/>
    <p>Allstate Extended Vehicle Care</p>
    <p>Protection that extends beyond your warranty</p>
  </div>
</header>
style {
  header {
    display: flex;
    background-color: blue;
  }
}
